.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin: 10px 0px;
}
.dropdown-menu {
  max-height: 300px;
  overflow-y: scroll;
}
.images-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 15px;
}
.dog-img{
  border-radius: 15px;
  overflow: hidden;
}
.images-by-breed{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: none;
}


